<html>

<head>
    <meta charset="utf-8" />
    <link href='https://fonts.googleapis.com/css?family=Londrina+Shadow' rel='stylesheet' type='text/css'>
    <link href='https://fonts.googleapis.com/css?family=Fjalla+One' rel='stylesheet' type='text/css'>
    <link href='https://fonts.googleapis.com/css?family=Playfair+Display+SC:400,700,900' rel='stylesheet' type='text/css'>
    <link href='https://fonts.googleapis.com/css?family=Playfair+Display:400,700' rel='stylesheet' type='text/css'>
    <script src="static/jquery.min.js"></script>
    <script src="https://use.fontawesome.com/8a8d79d973.js"></script>
    <link rel="stylesheet" href="static/base.css"/>
    <title>{{ title }}</title>
</head>

<body>
    <h1>
    <a href="/index"><b>{{ title }}</b></a>
  </h1>
    <div id="border">
        <IMG SRC="static/ajax-loader.gif" class="wheel">
        <hr>
        <IMG SRC="static/ajax-loader.gif" class="wheel">
    </div>
    <h2>{{ slogan }}</h2> {% block content %}{% endblock %}
</body>

</html>
