<!-- extend base layout -->
{% extends "tweet.html" %}

{% block content %}

<script src="http://d3js.org/d3.v3.min.js" charset="utf-8"></script>
<style>
      .axis path, .axis line
        {
            fill: none;
            stroke: #e1e1e1;
            stroke-width:0.5;
            /*stroke-dasharray: 1;*/
            shape-rendering: crispEdges;
        }
        
        .axis text
        {	
        	fill:#e1e1e1;
        	stroke:none;
            font-family: 'Fjalla One';
            font-size: 10px;
        }
        .tick
        {	
            stroke:#e1e1e1;
            /*stroke-dasharray: 1,2;*/
        }
        .bar
        {
            fill: FireBrick;
            border-radius: 1px;
            border:1px solid;
            z-index:999;
        }
</style>
<svg id="visualisation" width="1000" height="360"></svg>
<script>
InitChart();

function InitChart() {

  var barData = {{ counts|tojson }};

  var vis = d3.select('#visualisation'),
    WIDTH = 1000,
    HEIGHT = 360,
    MARGINS = {
      top: 20,
      right: 20,
      bottom: 20,
      left: 50
    },
    xRange = d3.scale.ordinal().rangeRoundBands([MARGINS.left, WIDTH - MARGINS.right], 0.1).domain(barData.map(function (d) {
      return d.x;
    })),


    yRange = d3.scale.linear().range([HEIGHT - MARGINS.top, MARGINS.bottom]).domain([0,
      d3.max(barData, function (d) {
        return d.y;
      })
    ]),

    xAxis = d3.svg.axis()
	    .tickFormat(function(d) { 

	                if(d%100==1){ 
	                    return Math.floor(d/100)}

	                else{ 
	                    return }
	            })    
      .scale(xRange)
      .tickSize(3)
      .tickSubdivide(true)
      .ticks(10),

    yAxis = d3.svg.axis()
      .scale(yRange)
      .tickSize(3)
      .orient("left")
      .tickSubdivide(true);

  vis.append("rect")
    .attr("width", "100%")
    .attr("height", "100%")
    .attr("fill", "grey")
    .attr({ry:'12', rx:'12'});

  vis.append('svg:g')
    .attr('class', 'x axis')
    .attr('transform', 'translate(0,' + (HEIGHT - MARGINS.bottom) + ')')
    .call(xAxis);

  vis.append('svg:g')
    .attr('class', 'y axis')
    .attr('transform', 'translate(' + (MARGINS.left) + ',0)')
    .call(yAxis);

  vis.selectAll('rect')
    .data(barData)
    .enter()
    .append('rect')
    .attr('x', function (d) {
      return xRange(d.x);
    })
    .attr('y', function (d) {
      return yRange(d.y);
    })
    .attr('width', xRange.rangeBand())
    .attr('height', function (d) {
      return ((HEIGHT - MARGINS.bottom) - yRange(d.y));
    })
    .attr({ry:'3', rx:'3'})
    .attr('fill', '#e1e1e1')
    .on('mouseover',function(d){
      d3.select(this)
        .attr('fill','#a5a0a9');
    })
    .on('mouseout',function(d){
      d3.select(this)
        .attr('fill','#e1e1e1');
    });

}

</script>

{% endblock %}