<!-- extend base layout -->
{% extends "base.html" %}

{% block content %}
	<style>
	.row_image {
            display: inline;
            margin: 30px 30px;
            width: 330px;
            position: relative;
            opacity: 0.7;
        }
    .row_image:hover {
        opacity: 1;
    }
    .row_images {
    	margin: 40px 30px 30px;
    }
    .explain {
    	display: inline-flex;
    	max-width: 65%;
    	margin: 10px 0 10px;
    }
    </style>

	<div class="row_images">
	<h2>Click to hear from your favorite candidate:</h2>
		<a href="/clinton"><img src="static/clinton_circle.png" class="row_image"></a>
		<a href="/trump"><img src="static/trump_circle.png" class="row_image"></a>
	</div>
	<p>The Trump Tweet Machine was created to give voters and spectators a window into the minds of the candidates for president of the United States.</p>
{% endblock %}
