<!-- extend base layout -->
{% extends "base.html" %} {% block content %}
<script src="http://d3js.org/d3.v3.min.js" charset="utf-8"></script>
<link rel="stylesheet" href="static/tweet.css"/>

<div id="clinton_click">
    <a href="/clinton">
        <div class="other_candidate"><img src="static/clinton_circle.png"></div>
    </a>
    <p>NEW Clinton Tweet!</p>
</div>
<div id="trump_click">
    <a href="/trump">
        <div class="other_candidate"><img src="static/trump_circle.png"></div>
    </a>
    <p>NEW Trump Tweet!</p>
</div>
<div id="home_click">
    <a href="/index">
        <div class="other_candidate"><img src="static/homeicon.png"></div>
    </a>
    <p>Back Home</p>
</div>
<div class="genertweet">
    <div class="an_icon" id="imageicon"><img src="static/imageicon.png" border="0" alt=""></div>
    <div class="an_icon" style="right:33px;" id="charticon"><img src="static/charticon.png" border="0" alt=""></div>
    <span id="chart_image"></span>
    <!-- <div class="plot_word"></div> -->
    <span id="up-top">
            </span>
    <div id="genertext">
        {% for word in tweet %}
        <div class="word" id={{ word[1] }} text={{ word[0] }}>
            <h3> {{ word[0] }} </h3></div>
        {% endfor %}
    </div>
</div>
<div class="origtweet"></div>
<script type="text/javascript" src="static/vis_script.js"></script>
<script type="text/javascript">
$('.other_candidate').click(function(){
     $('.wheel').show();
});

// load data
var references = {{ references | tojson }};
var tweet_list = {{ tweet | tojson }};
var back_img = {{ back_img | tojson }};
var the_word;
var search_word = tweet_list[0][0].toLowerCase().replace(":", "").replace(".", "").replace(",", "").replace("?", "").replace("!", "").replace('"', '');

// create switch between chart and image
var chart = false;

// load initial background image and text
$('#chart_image').html('<div class="background_image"></div>');
$('#up-top').html('<p>Your tweet referenced {{ num_ref }} original tweets. Hover over the words to see where they came from.</p>');

show_img = '<img class="background_image back-up" style="opacity:0.5;" src=' + back_img[1] + ' border="0" alt=""><img class="background_image" style="opacity:0.15;" src=' + back_img[3] + ' border="0" alt="">'
// set show_img for scraped images
for (var key_name in references) {
    the_word = key_name;
    for (j = 0; j < references[the_word].imgs.length; j++) {
        show_img += '<img class="background_image ' + the_word + '"" style="opacity:0;" " src=' + references[the_word].imgs[j] + ' border="0" alt="">'
    }
}
$('.background_image').html(show_img);
var img_in, img_out;
img_in = "back-up";

// initialize the_word, prev_img, show_orig
var prev_img = '';
var show_orig = '<p></p>';
$('.origtweet').html(show_orig);

// chart or image?
$('.an_icon').mouseover(function() {
    if ($(this).attr("id") == "charticon") {
        $(this).attr("style", "opacity:1; right:33px;");
    } else if ($(this).attr("id") == "imageicon") {
        $(this).attr("style", "opacity:1;");
    }
});
$('.an_icon').mouseleave(function() {
    if ($(this).attr("id") == "charticon") {
        $(this).attr("style", "opacity:0.7; right:33px;");
    } else if ($(this).attr("id") == "imageicon") {
        $(this).attr("style", "opacity:0.7;");
    }
});
$('.an_icon').click(function() {
    console.log("click");
    var which = $(this).attr('id');
    console.log(which);
    if (which == "imageicon") {
        $('#chart_image').html('<div class="background_image"></div>');
        $('.background_image').html(show_img);
        $('#up-top').html('<p>Your tweet referenced {{ num_ref }} original tweets. Hover over the words to see where they came from.</p>');
        chart = false;
        console.log("image");
    } else {
        $('#chart_image').html('<div class="plot_word"></div>');
        $('.plot_word').html('<svg id="visualisation" width="1000" height="400"></svg>');
        $('#up-top').html('<p>Click on a word to see how {{ candidate }} has used it on Twitter.</p>');
        $('.plot_word').attr("style", "background-image:url(" + back_img[0] + ");");
        chart = true;
        console.log("search word");
        console.log(search_word);
        makeChart(search_word);
        console.log("chart");
    }
});

// mouse-over the_word
$('.word').mouseover(function() {
    $(this).attr("style", "opacity: 1;");
    // get the word and update orig_tweet html
    the_word = $(this).attr('id');
    show_orig = '<p>On ' + references[the_word].orig_date + ' at ' + references[the_word].orig_time + ', {{ candidate }} tweeted: <em>' + references[the_word].orig_text + '</em></p><p>Image searched key terms: <em>' + references[the_word].imp_words.join(', ') + '</em><span>Your tweet borrowed: <em>' + references[the_word].words_used.join(', ') + '</em></span></p>'
    $('.origtweet').html(show_orig);

    // change image on hover for scraped images
    img_out = img_in;
    img_in = the_word;
    opacity = 0.6 / references[the_word].imgs.length;
    if (references[the_word].imgs.length == 0) {
        img_in = "back-up";
        opacity = 0.6;
    }
    if (img_in != img_out) {
        $('.' + img_out).attr("style", "opacity:" + 0 + ";");
        console.log("image out " + img_out);
    }
    $('.' + img_in).attr("style", "opacity:" + opacity + ";");
    console.log(references[the_word].imp_words);
    console.log(references[the_word].imgs);
    console.log(opacity);
    console.log("image in " + img_in);
});

$('.word').mouseleave(function() {
    $(this).attr("style", "opacity: 0.85;");
});

$('.word').click(function() {
    if (chart == true) {
        // get the word and update orig_tweet html
        search_word = $(this).attr('text').toLowerCase().replace(":", "").replace(".", "").replace(",", "").replace("?", "").replace("!", "").replace('"', '');
        console.log(search_word);

        // update the background image
        $('.plot_word').html('<svg id="visualisation" width="1000" height="400"></svg>');
        var back_num = Math.floor(Math.random() * back_img.length);
        console.log(back_num);
        console.log(back_img[back_num]);
        $('.plot_word').attr("style", "background-image:url(" + back_img[back_num] + ");");

        makeChart(search_word);
    }
});

function makeChart(search_word) {
    // get the data and the search num
    var allData = {{ counts | tojson }};
    var wordData = allData[search_word];
    search_num = wordData[0];
    InitChart(wordData);
    $('#up-top').html('<p>{{ candidate }} has tweeted ' + search_num + ' instances of the word <em>' + search_word + '</em>. Try clicking another word.</p>');
}
</script>
{% endblock %}
